<html>
  <body>
    <h1>Not reloading</h1>
    <p>This is a petition, here are the current signers.</p>
    <ul>
      {{#signers}}
        <li>{{{.}}}</li>
      {{/signers}}
    </ul>
  </body>
</html>
